
# Local credentials and installed dependencies
auth-service/.env
auth-service/node_modules/
auth-service/npm-debug.log*
restaurant-service/.env
restaurant-service/node_modules/
restaurant-service/npm-debug.log*
order-service/.env
order-service/node_modules/
order-service/npm-debug.log*
